<!DOCTYPE html>
<html
   style="
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   font-size: 100%;
   -webkit-font-smoothing: antialiased;
   box-sizing: border-box;
   margin: 0px;
   height: 100%;
   "
   >
   <head>
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <meta charset="utf-8" />
      <style id="globals">
         article,
         aside,
         details,
         figcaption,
         figure,
         footer,
         header,
         hgroup,
         menu,
         nav,
         section {
         display: block;
         }
         ol,
         ul {
         list-style: none;
         }
         blockquote,
         q {
         quotes: none;
         }
         table {
         border-collapse: collapse;
         border-spacing: 0;
         }
         button:focus-visible {
         outline: 2px solid #4a90e2 !important;
         outline: -webkit-focus-ring-color auto 5px !important;
         }
         a {
         text-decoration: none;
         }
      </style>
   </head>
   <body
      style="
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      margin: 0px;
      height: 100%;
      "
      >
      <div
         class="email-joining"
         style="
         margin: 0;
         padding: 0;
         border: 0;
         font: inherit;
         font-size: 100%;
         -webkit-font-smoothing: antialiased;
         box-sizing: border-box;
         background-color: #000000;
         display: grid;
         justify-items: center;
         align-items: start;
         width: 100vw;
         "
         >
         <div
            class="overlap-wrapper"
            style="
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            background-color: #000000;
            overflow: hidden;
            width: 600px;
            height: 1011px;
            "
            >
            <div
               class="overlap"
               style="
               margin: 0;
               padding: 0;
               border: 0;
               font: inherit;
               font-size: 100%;
               -webkit-font-smoothing: antialiased;
               box-sizing: border-box;
               position: relative;
               height: 1011px;
               "
               >
               <img
                  class="vector"
                  src="https://i.ibb.co/fVSB4NBJ/Valido-Logo-Mark-Black.png"
                  style="
                  margin: 0;
                  padding: 0;
                  border: 0;
                  font: inherit;
                  font-size: 100%;
                  -webkit-font-smoothing: antialiased;
                  box-sizing: border-box;
                  position: absolute;
                  width: 54px;
                  height: 51px;
                  top: 44px;
                  left: 62px;
                  "
                  />
               <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  class="frame"
                  style="
                  border-collapse: separate;
                  padding: 0;
                  border: 0;
                  font: inherit;
                  font-size: 100%;
                  -webkit-font-smoothing: antialiased;
                  box-sizing: border-box;
                  width: 478px;
                  position: absolute;
                  top: 123px;
                  left: 61px;
                  "
                  >
                  <tr>
                     <td align="left" style="position: relative; width: 100%">
                        <div
                           class="text-wrapper"
                           style="
                           text-align:center;
                           align-items:center;
                           margin: 0;
                           padding: 0;
                           border: 0;
                           font: inherit;
                           font-size: 28px;
                           -webkit-font-smoothing: antialiased;
                           box-sizing: border-box;
                           position: relative;
                           align-self: stretch;
                           margin-top: -1px;
                           font-family: 'Geist-SemiBold', Helvetica;
                           font-weight: 600;
                           color: #ffffff;
                           letter-spacing: -0.56px;
                           line-height: normal;
                           width: 100%;
                           text-align: left;
                           "
                           >
                           Welcome to Valido
                        </div>
                     </td>
                  </tr>
                  <tr style="height: 24px"></tr>
                  <tr>
                     <td align="left" style="position: relative; width: 100%">
                        <p
                           class="thanks-for-joining"
                           style="
                           margin: 0;
                           padding: 0;
                           border: 0;
                           font: inherit;
                           font-size: 16px;
                           -webkit-font-smoothing: antialiased;
                           box-sizing: border-box;
                           position: relative;
                           align-self: stretch;
                           font-family: 'Geist-Regular', Helvetica;
                           font-weight: 400;
                           color: #ffffff;
                           letter-spacing: -0.32px;
                           line-height: 24px;
                           width: 100%;
                           text-align: left;
                           "
                           >
                           Thanks for joining us — we’re thrilled to have you on board!<br
                              style="-webkit-font-smoothing: antialiased; box-sizing: border-box"
                              />At Valido, we’re reimagining the hiring process with AI that makes recruiting faster, smarter, and
                           fairer.
                        </p>
                     </td>
                  </tr>
                  <tr style="height: 24px"></tr>
                  <tr>
                     <td align="left" style="position: relative; width: 124px; height: 37px">
                        <table
                           border="0"
                           cellpadding="0"
                           cellspacing="0"
                           class="div"
                           style="
                           border-collapse: separate;
                           padding: 10px;
                           border: 0;
                           font: inherit;
                           font-size: 100%;
                           -webkit-font-smoothing: antialiased;
                           box-sizing: border-box;
                           width: 124px;
                           height: 37px;
                           position: relative;
                           background-color: #6a00ff;
                           text-align: left;
                           "
                           >
                           <tr style="vertical-align: middle">
                              <td style="padding: 0px; width: 50%"></td>
                              <td align="center" style="position: relative; width: fit-content">
                                 <div
                                    class="text-wrapper-2"
                                    style="
                                    margin: 0;
                                    padding: 0;
                                    border: 0;
                                    font: inherit;
                                    font-size: 16px;
                                    -webkit-font-smoothing: antialiased;
                                    box-sizing: border-box;
                                    position: relative;
                                    width: fit-content;
                                    margin-top: -4.5px;
                                    margin-bottom: -2.5px;
                                    font-family: 'Geist-SemiBold', Helvetica;
                                    font-weight: 600;
                                    color: #ffffff;
                                    letter-spacing: -0.32px;
                                    line-height: 24px;
                                    white-space: nowrap;
                                    text-align: left;
                                    "
                                    >
                                    Our Idea
                                 </div>
                              </td>
                              <td style="width: 4px; min-width: 4px; padding: 0px"></td>
                              <td align="center" style="position: relative; width: 14px; height: 14px">
                                 <img
                                    class="akar-icons-arrow"
                                    src="https://i.ibb.co/MkrLLy5L/akar-icons-arrow-back.png"
                                    style="
                                    margin: 0;
                                    padding: 0;
                                    border: 0;
                                    font: inherit;
                                    font-size: 100%;
                                    -webkit-font-smoothing: antialiased;
                                    box-sizing: border-box;
                                    position: relative;
                                    width: 14px;
                                    height: 14px;
                                    aspect-ratio: 1;
                                    text-align: left;
                                    "
                                    />
                              </td>
                              <td style="padding: 0px; width: 50%"></td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                  <tr style="height: 100%"></tr>
               </table>
               <div
                  class="frame-2"
                  style="
                  margin: 0;
                  padding: 0;
                  border: 0;
                  font: inherit;
                  font-size: 100%;
                  -webkit-font-smoothing: antialiased;
                  box-sizing: border-box;
                  position: absolute;
                  width: 478px;
                  height: 355px;
                  top: 359px;
                  left: 61px;
                  border: 3px solid;
                  border-color: #6a00ff;
                  "
                  >
                  <div
                     class="text-wrapper-3"
                     style="
                     margin: 0;
                     padding: 0;
                     border: 0;
                     font: inherit;
                     font-size: 100%;
                     -webkit-font-smoothing: antialiased;
                     box-sizing: border-box;
                     position: absolute;
                     top: 22px;
                     left: 20px;
                     font-family: 'Geist-SemiBold', Helvetica;
                     font-weight: 600;
                     color: #ffffff;
                     font-size: 18px;
                     letter-spacing: -0.36px;
                     line-height: 27px;
                     white-space: nowrap;
                     "
                     >
                     With Valido you’ll experience
                  </div>
                  <table
                     border="0"
                     cellpadding="0"
                     cellspacing="0"
                     class="frame-3"
                     style="
                     border-collapse: separate;
                     padding: 0;
                     border: 0;
                     font: inherit;
                     font-size: 100%;
                     -webkit-font-smoothing: antialiased;
                     box-sizing: border-box;
                     width: 390px;
                     position: absolute;
                     top: 93px;
                     left: 44px;
                     "
                     >
                     <tr>
                        <td align="left" style="position: relative; width: 100%">
                           <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              class="frame-4"
                              style="
                              border-collapse: separate;
                              padding: 0;
                              border: 0;
                              font: inherit;
                              font-size: 100%;
                              -webkit-font-smoothing: antialiased;
                              box-sizing: border-box;
                              position: relative;
                              width: 100%;
                              text-align: left;
                              height: 0px;
                              "
                              >
                              <tr style="vertical-align: middle">
                                 <td style="position: relative; width: 150px">
                                    <table
                                       border="0"
                                       cellpadding="0"
                                       cellspacing="0"
                                       class="frame-5"
                                       style="
                                       border-collapse: separate;
                                       padding: 0;
                                       border: 0;
                                       font: inherit;
                                       font-size: 100%;
                                       -webkit-font-smoothing: antialiased;
                                       box-sizing: border-box;
                                       width: 150px;
                                       position: relative;
                                       text-align: left;
                                       "
                                       >
                                       <tr style="height: 50%"></tr>
                                       <tr>
                                          <td align="center" style="position: relative; width: 51px; height: 51px">
                                             <div
                                                class="img-wrapper"
                                                style="
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                font: inherit;
                                                font-size: 100%;
                                                -webkit-font-smoothing: antialiased;
                                                box-sizing: border-box;
                                                position: relative;
                                                width: 51px;
                                                height: 51px;
                                                background-color: #6a00ff;
                                                text-align: left;
                                                "
                                                >
                                                <img
                                                   class="mingcute-ai-fill"
                                                   src="https://i.ibb.co/jk9zcCmW/mingcute-ai-fill.png"
                                                   style="
                                                   margin: 0;
                                                   padding: 0;
                                                   border: 0;
                                                   font: inherit;
                                                   font-size: 100%;
                                                   -webkit-font-smoothing: antialiased;
                                                   box-sizing: border-box;
                                                   position: absolute;
                                                   width: 28px;
                                                   height: 28px;
                                                   top: 12px;
                                                   left: 12px;
                                                   aspect-ratio: 1;
                                                   "
                                                   />
                                             </div>
                                          </td>
                                       </tr>
                                       <tr style="height: 8px"></tr>
                                       <tr>
                                          <td align="center" style="position: relative; width: 100%">
                                             <div
                                                class="text-wrapper-4"
                                                style="
                                                text-align:center;
                                                align-items:center;
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                font: inherit;
                                                font-size: 16px;
                                                -webkit-font-smoothing: antialiased;
                                                box-sizing: border-box;
                                                position: relative;
                                                align-self: stretch;
                                                font-family: 'Geist-Medium', Helvetica;
                                                font-weight: 500;
                                                color: #ffffffb2;
                                                letter-spacing: -0.32px;
                                                line-height: 24px;
                                                width: 100%;
                                                text-align: center;
                                                "
                                                >
                                                AI Agentic Hiring
                                             </div>
                                          </td>
                                       </tr>
                                       <tr style="height: 50%"></tr>
                                    </table>
                                 </td>
                                 <td style="width: 100%"></td>
                                 <td style="position: relative; width: 150px">
                                    <table
                                       border="0"
                                       cellpadding="0"
                                       cellspacing="0"
                                       class="frame-6"
                                       style="
                                       border-collapse: separate;
                                       padding: 0;
                                       border: 0;
                                       font: inherit;
                                       font-size: 100%;
                                       -webkit-font-smoothing: antialiased;
                                       box-sizing: border-box;
                                       width: 150px;
                                       position: relative;
                                       text-align: left;
                                       "
                                       >
                                       <tr>
                                          <td align="center" style="position: relative; width: 51px; height: 51px">
                                             <div
                                                class="img-wrapper"
                                                style="
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                font: inherit;
                                                font-size: 100%;
                                                -webkit-font-smoothing: antialiased;
                                                box-sizing: border-box;
                                                position: relative;
                                                width: 51px;
                                                height: 51px;
                                                background-color: #6a00ff;
                                                text-align: left;
                                                "
                                                >
                                                <img
                                                   class="streamline-brain"
                                                   src="https://i.ibb.co/zhtcTgsS/streamline-brain-solid.png"
                                                   style="
                                                   margin: 0;
                                                   padding: 0;
                                                   border: 0;
                                                   font: inherit;
                                                   font-size: 100%;
                                                   -webkit-font-smoothing: antialiased;
                                                   box-sizing: border-box;
                                                   position: absolute;
                                                   width: 22px;
                                                   height: 22px;
                                                   top: 15px;
                                                   left: 14px;
                                                   aspect-ratio: 1;
                                                   "
                                                   />
                                             </div>
                                          </td>
                                       </tr>
                                       <tr style="height: 8px"></tr>
                                       <tr>
                                          <td align="center" style="position: relative; width: fit-content">
                                             <div
                                                class="text-wrapper-5"
                                                style="
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                font: inherit;
                                                font-size: 16px;
                                                -webkit-font-smoothing: antialiased;
                                                box-sizing: border-box;
                                                position: relative;
                                                width: fit-content;
                                                font-family: 'Geist-Medium', Helvetica;
                                                font-weight: 500;
                                                color: #ffffffb2;
                                                letter-spacing: -0.32px;
                                                line-height: 24px;
                                                white-space: nowrap;
                                                text-align: left;
                                                "
                                                >
                                                Smart Assessments
                                             </div>
                                          </td>
                                       </tr>
                                       <tr style="height: 100%"></tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr style="height: 36px"></tr>
                     <tr>
                        <td align="left" style="position: relative; width: 100%">
                           <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              class="frame-4"
                              style="
                              border-collapse: separate;
                              padding: 0;
                              border: 0;
                              font: inherit;
                              font-size: 100%;
                              -webkit-font-smoothing: antialiased;
                              box-sizing: border-box;
                              position: relative;
                              width: 100%;
                              text-align: left;
                              height: 0px;
                              "
                              >
                              <tr style="vertical-align: middle">
                                 <td style="position: relative; width: 150px">
                                    <table
                                       border="0"
                                       cellpadding="0"
                                       cellspacing="0"
                                       class="frame-7"
                                       style="
                                       border-collapse: separate;
                                       padding: 0;
                                       border: 0;
                                       font: inherit;
                                       font-size: 100%;
                                       -webkit-font-smoothing: antialiased;
                                       box-sizing: border-box;
                                       width: 150px;
                                       position: relative;
                                       text-align: left;
                                       "
                                       >
                                       <tr>
                                          <td align="center" style="position: relative; width: 51px; height: 51px">
                                             <div
                                                class="img-wrapper"
                                                style="
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                font: inherit;
                                                font-size: 100%;
                                                -webkit-font-smoothing: antialiased;
                                                box-sizing: border-box;
                                                position: relative;
                                                width: 51px;
                                                height: 51px;
                                                background-color: #6a00ff;
                                                text-align: left;
                                                "
                                                >
                                                <img
                                                   class="fluent-meet-now"
                                                   src="https://i.ibb.co/Pzxgc25v/fluent-meet-now-16-filled.png"
                                                   style="
                                                   margin: 0;
                                                   padding: 0;
                                                   border: 0;
                                                   font: inherit;
                                                   font-size: 100%;
                                                   -webkit-font-smoothing: antialiased;
                                                   box-sizing: border-box;
                                                   position: absolute;
                                                   width: 24px;
                                                   height: 24px;
                                                   top: 14px;
                                                   left: 13px;
                                                   aspect-ratio: 1;
                                                   "
                                                   />
                                             </div>
                                          </td>
                                       </tr>
                                       <tr style="height: 11px"></tr>
                                       <tr>
                                          <td align="center" style="position: relative; width: fit-content">
                                             <div
                                                class="text-wrapper-5"
                                                style="
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                font: inherit;
                                                font-size: 16px;
                                                -webkit-font-smoothing: antialiased;
                                                box-sizing: border-box;
                                                position: relative;
                                                width: fit-content;
                                                font-family: 'Geist-Medium', Helvetica;
                                                font-weight: 500;
                                                color: #ffffffb2;
                                                letter-spacing: -0.32px;
                                                line-height: 24px;
                                                white-space: nowrap;
                                                text-align: left;
                                                "
                                                >
                                                AI Based Screening
                                             </div>
                                          </td>
                                       </tr>
                                       <tr style="height: 100%"></tr>
                                    </table>
                                 </td>
                                 <td style="width: 100%"></td>
                                 <td style="position: relative; width: 150px">
                                    <table
                                       border="0"
                                       cellpadding="0"
                                       cellspacing="0"
                                       class="frame-8"
                                       style="
                                       border-collapse: separate;
                                       padding: 0;
                                       border: 0;
                                       font: inherit;
                                       font-size: 100%;
                                       -webkit-font-smoothing: antialiased;
                                       box-sizing: border-box;
                                       width: 150px;
                                       position: relative;
                                       text-align: left;
                                       "
                                       >
                                       <tr>
                                          <td align="center" style="position: relative; width: 51px; height: 51px">
                                             <div
                                                class="img-wrapper"
                                                style="
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                font: inherit;
                                                font-size: 100%;
                                                -webkit-font-smoothing: antialiased;
                                                box-sizing: border-box;
                                                position: relative;
                                                width: 51px;
                                                height: 51px;
                                                background-color: #6a00ff;
                                                text-align: left;
                                                "
                                                >
                                                <img
                                                   class="fa-group"
                                                   src="https://i.ibb.co/0jjTVKDk/fa-group.png"
                                                   style="
                                                   margin: 0;
                                                   padding: 0;
                                                   border: 0;
                                                   font: inherit;
                                                   font-size: 100%;
                                                   -webkit-font-smoothing: antialiased;
                                                   box-sizing: border-box;
                                                   position: absolute;
                                                   width: 20px;
                                                   height: 18px;
                                                   top: 16px;
                                                   left: 15px;
                                                   aspect-ratio: 1.07;
                                                   "
                                                   />
                                             </div>
                                          </td>
                                       </tr>
                                       <tr style="height: 10px"></tr>
                                       <tr>
                                          <td align="center" style="position: relative; width: fit-content">
                                             <p
                                                class="p"
                                                style="
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                font: inherit;
                                                font-size: 16px;
                                                -webkit-font-smoothing: antialiased;
                                                box-sizing: border-box;
                                                position: relative;
                                                width: fit-content;
                                                margin-left: -5px;
                                                margin-right: -5px;
                                                font-family: 'Geist-Medium', Helvetica;
                                                font-weight: 500;
                                                color: #ffffffb2;
                                                letter-spacing: -0.32px;
                                                line-height: 24px;
                                                white-space: nowrap;
                                                text-align: left;
                                                "
                                                >
                                                Value for Proof of Skill
                                             </p>
                                          </td>
                                       </tr>
                                       <tr style="height: 100%"></tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr style="height: 100%"></tr>
                  </table>
               </div>
               <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  class="frame-9"
                  style="
                  border-collapse: separate;
                  padding: 0;
                  border: 0;
                  font: inherit;
                  font-size: 100%;
                  -webkit-font-smoothing: antialiased;
                  box-sizing: border-box;
                  width: 479px;
                  position: absolute;
                  top: 757px;
                  left: 61px;
                  "
                  >
                  <tr>
                     <td align="left" style="position: relative; width: 100%">
                        <p
                           class="text-wrapper-6"
                           style="
                           margin: 0;
                           padding: 0;
                           border: 0;
                           font: inherit;
                           font-size: 16px;
                           -webkit-font-smoothing: antialiased;
                           box-sizing: border-box;
                           position: relative;
                           align-self: stretch;
                           margin-top: -1px;
                           font-family: 'Geist-Regular', Helvetica;
                           font-weight: 400;
                           color: #ffffff;
                           letter-spacing: -0.32px;
                           line-height: 24px;
                           width: 100%;
                           text-align: left;
                           "
                           >
                           We can’t wait to show you how we will transform your hiring
                        </p>
                     </td>
                  </tr>
                  <tr style="height: 24px"></tr>
                  <tr>
                     <td align="left" style="position: relative; width: 100%; height: 48px">
                        <div
                           class="cheers-the-valido"
                           style="
                           margin: 0;
                           padding: 0;
                           border: 0;
                           font: inherit;
                           font-size: 16px;
                           -webkit-font-smoothing: antialiased;
                           box-sizing: border-box;
                           position: relative;
                           align-self: stretch;
                           height: 48px;
                           font-family: 'Geist-Regular', Helvetica;
                           font-weight: 400;
                           color: #ffffff;
                           letter-spacing: -0.32px;
                           line-height: 24px;
                           width: 100%;
                           text-align: left;
                           "
                           >
                           Cheers,<br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />The Valido Team
                        </div>
                     </td>
                  </tr>
                  <tr style="height: 100%"></tr>
               </table>
               <div
                  class="overlap-group"
                  style="
                  margin: 0;
                  padding: 0;
                  border: 0;
                  font: inherit;
                  font-size: 100%;
                  -webkit-font-smoothing: antialiased;
                  box-sizing: border-box;
                  position: absolute;
                  width: 600px;
                  height: 1011px;
                  top: 0;
                  left: 0;
                  "
                  >
                  <div
                     class="frame-10"
                     style="
                     margin: 0;
                     padding: 0;
                     border: 0;
                     font: inherit;
                     font-size: 100%;
                     -webkit-font-smoothing: antialiased;
                     box-sizing: border-box;
                     position: absolute;
                     width: 600px;
                     height: 115px;
                     top: 896px;
                     left: 0;
                     "
                     >
                     <img
                        class="line"
                        src="img/line-1.svg"
                        style="
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        font-size: 100%;
                        -webkit-font-smoothing: antialiased;
                        box-sizing: border-box;
                        position: absolute;
                        width: 600px;
                        height: 1px;
                        top: -1px;
                        left: 0;
                        object-fit: cover;
                        "
                        />
                     <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="frame-11"
                        style="
                        border-collapse: separate;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        font-size: 100%;
                        -webkit-font-smoothing: antialiased;
                        box-sizing: border-box;
                        width: 425px;
                        position: absolute;
                        top: 22px;
                        left: 87px;
                        "
                        >
                        <tr>
                           <td align="center" style="position: relative; width: fit-content">
                              <p
                                 class="text-wrapper-7"
                                 style="
                                 margin: 0;
                                 padding: 0;
                                 border: 0;
                                 font: inherit;
                                 font-size: 16px;
                                 -webkit-font-smoothing: antialiased;
                                 box-sizing: border-box;
                                 position: relative;
                                 width: fit-content;
                                 margin-top: -1px;
                                 margin-left: -30px;
                                 margin-right: -30px;
                                 font-family: 'Geist-Regular', Helvetica;
                                 font-weight: 400;
                                 color: rgba(255,255,255,0.6);
                                 letter-spacing: -0.32px;
                                 line-height: 24px;
                                 white-space: nowrap;
                                 text-align: left;
                                 "
                                 >
                                 This is an automated message to welcome you aboard. Have Doubts?
                              </p>
                           </td>
                        </tr>
                        <tr style="height: 1px"></tr>
                        <tr>
                           <td align="center" style="position: relative; width: fit-content">
                              <div
                                 class="text-wrapper-8"
                                 style="
                                 margin: 0;
                                 padding: 0;
                                 border: 0;
                                 font: inherit;
                                 font-size: 16px;
                                 -webkit-font-smoothing: antialiased;
                                 box-sizing: border-box;
                                 position: relative;
                                 width: fit-content;
                                 font-family: 'Geist-Regular', Helvetica;
                                 font-weight: 400;
                                 color: rgba(255,255,255,0.6);
                                 text-align: center;
                                 letter-spacing: -0.32px;
                                 line-height: 24px;
                                 white-space: nowrap;
                                 "
                                 >
                                 Contact us at
                              </div>
                           </td>
                        </tr>
                        <tr style="height: 1px"></tr>
                        <tr>
                           <td align="center" style="position: relative; width: fit-content">
                              <div
                                 class="text-wrapper-9"
                                 style="
                                 margin: 0;
                                 padding: 0;
                                 border: 0;
                                 font: inherit;
                                 font-size: 16px;
                                 -webkit-font-smoothing: antialiased;
                                 box-sizing: border-box;
                                 position: relative;
                                 width: fit-content;
                                 font-family: 'Geist-SemiBold', Helvetica;
                                 font-weight: 600;
                                 color: #ffffff;
                                 text-align: center;
                                 letter-spacing: -0.32px;
                                 line-height: 24px;
                                 white-space: nowrap;
                                 "
                                 >
                                 we@valido-ai.com
                              </div>
                           </td>
                        </tr>
                        <tr style="height: 100%"></tr>
                     </table>
                  </div>
                  <div
                     class="frame-12"
                     style="
                     margin: 0;
                     padding: 0;
                     border: 0;
                     font: inherit;
                     font-size: 100%;
                     -webkit-font-smoothing: antialiased;
                     box-sizing: border-box;
                     position: absolute;
                     width: 40px;
                     height: 1011px;
                     top: 0;
                     left: 0;
                     background-color: #13002e;
                     "
                     ></div>
                  <div
                     class="frame-13"
                     style="
                     margin: 0;
                     padding: 0;
                     border: 0;
                     font: inherit;
                     font-size: 100%;
                     -webkit-font-smoothing: antialiased;
                     box-sizing: border-box;
                     position: absolute;
                     width: 40px;
                     height: 1011px;
                     top: 0;
                     left: 560px;
                     background-color: #13002e;
                     "
                     ></div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>